
.inActiveMenu{
    animation: show-item-menu 1s ease-in forwards;
}
.isActiveMenu{
    animation: hide-item-menu 1s ease-in forwards;
}



.cards{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    -webkit-transition: all 2s;
    transition: all 2s;
}
::-webkit-scrollbar {display: none;}
@keyframes show-item-menu {
    0% {
        width: 100%
    }
    100% {
        width: 80%
    }
}

@keyframes hide-item-menu {
    100% {
        width: 100%
    }
    0% {
        width: 68%
    }
}

.cards-horizontal{
    background-color: #8b8b8b;
    display: flex;
    flex-direction: row;
    height: 8em;
    border-radius:1em;
    margin: .5em;
}
.cards-image{
    width: 30%;
    border-radius:1em 0 0 1em ;

}
.cards-content{
    width:68%;
    border-radius: 0 1em 1em  0;
}
p.cards-text{
    font-size: 1em;
    font-weight: bold;
}

