
.isActive{
    animation: show-item 1s ease-in forwards;
}
.inActive{
    animation: hide-item 1s ease-in forwards;
}



.menuContacts{
    background-color: #000;
    height: 100vh;
    padding: .5em;
    -webkit-transition: all 2s;
    transition: all 2s;
    width: 4.5em;
}
::-webkit-scrollbar {display: none;}
@keyframes show-item {
    0% {
        width: 4.5em;
    }
    100% {
        width: 25em;
    }
}

@keyframes hide-item {
    100% {
        width: 4.5em;
    }
    0% {
        width: 25em;
    }
}


